<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail page</title>
</head>
<body>
    <main>
        <h1>{{ list_object }}</h1>
        <a href="{% url 'edit_list' list_object.id %}"><button>Edit</button></a>
        <a href="{% url 'delete_list' list_object.id %}"><button>Delete</button></a>
        <h2>Tasks</h2>
        <div>
            <table>
            {% comment %} items came from related name in foreign key{% endcomment %}
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            <tbody>
            {% for item in list_object.items.all %}
            <tr>
            <td><a href="{% url "update_item" item.id %}">{{ item.task }}</a></td>
            <td>{{ item.due_date }}</td>
            {% endfor %}
             </tr>
            </tbody>
            </thead>
            </table>
        </div>
    </main>
</body>
</html>
