<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <h1>
                    <p>
                        <a href="{% url "create_list" %}">Create a new list</a>
                        <a href="{% url "create_item" %}">Create a new item</a>
                    </p>
                </h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                    <tbody>
                        {% for item in to_do_list %}
                        <tr>
                            <td><a href="{% url "todo_list_detail" item.id %}">{{ item.name }}</a></td>
                            <td>{{ item.items.all.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>
</html>
