<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Update Item</h1>
                <form method="post">
                <button type="submit"> Update </button>
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
    </main>
</body>
</html>
